/*BODY*/
body {
  font-family: "Manrope", sans-serif;
  color: whitesmoke;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  max-width: 1320px;
}

/* MAIN*/
.main {
  background-color: #0c1019;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.navbar {
  backdrop-filter: blur(20px);
  background: rgba(12, 16, 25, 0.2392156863);
}

.nav-item {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.active {
  color: #ffb700;
}

.navbar-brand {
  width: 128px;
}

.footer {
  background-color: #0f1521;
}

.footerLogo {
  width: 8rem;
}

.footer-icons {
  width: 35px;
  height: 35px;
  margin-left: 1rem;
}

.footer-link {
  list-style: none;
  text-decoration: none;
  color: #f5f5f5;
}

.footer-link:hover {
  color: #ffb700;
}

.footer-terminos:hover {
  color: #ffb700;
}

.footer-fin {
  border-top: 3px #3a3d45 solid;
}

.flag-texto:hover {
  color: #ffb700;
}

.flag {
  width: 1.2rem;
}

.footer-title {
  text-transform: initial;
  font-weight: 500;
  font-size: 1.6rem;
}

.footer-text {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
  display: inline-block;
}

.footer-terminos {
  text-decoration: underline;
  padding-top: 0;
}

@media (min-width: 576px) {
  .flag-media {
    padding-top: 3.4rem;
  }
}
.display-1 {
  text-transform: initial;
  font-size: 4.2rem;
  font-weight: 500;
}

.display-1-intro {
  font-weight: 700;
}

.display-1-description {
  font-size: 1.3rem;
  margin-top: 1.2rem;
}

.fondo-1 {
  background-image: url(../img/img-1.jpg);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  margin-top: 10rem;
}

.fondo-2 {
  background-image: url(../img/img-5.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10rem;
}

.fondo-3 {
  background-image: url(../img/img-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 200px;
  padding: 0.5rem;
  margin-top: 10rem;
}

.fondo-4 {
  background-image: url(../img/img-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10rem;
}

.img-prueba2 {
  width: 250px;
}

.fondo-descargas {
  background-image: url(../img/back-descargas.jpg);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  background-color: rgba(15, 21, 33, 0.6705882353);
  padding: 6rem;
  border-radius: 0.8rem;
}

.btn-descargas {
  color: #f5f5f5;
  background-color: #ffb700;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}
.btn-descargas:focus {
  outline: 0;
  box-shadow: none;
}
.btn-descargas:hover {
  color: #f5f5f5;
  background-color: #ffb700;
}

.descargas-back {
  background-color: #0f1521;
  padding: 2rem;
  margin: 10rem 0 8rem 0;
}

.descargas-title {
  font-size: 2.5rem;
  font-weight: 500;
}
.descargas-title p {
  font-size: 1rem;
  font-weight: 300;
}

.text-descargas {
  color: #f5f5f5;
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.box {
  background-color: #0c1019;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 0.8rem;
}
.box .box-description {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}
.box .box-description span {
  font-size: 1.5rem;
  font-weight: 500;
}
.box .box-description li {
  padding-bottom: 0.5rem;
}

.display-3 {
  text-transform: initial;
  font-size: 4rem;
  font-weight: 400;
}

.accordion {
  padding: 0;
}

.accordion-button {
  background-color: #0c1019;
  color: rgb(151, 151, 151);
  padding: 0;
  font-size: 1.6rem;
  padding: 1rem 0 0.5rem 0;
  font-weight: 500;
  text-transform: initial;
  margin-top: 1.5rem;
}

.accordion-button:focus {
  outline: 0;
  border-color: inherit;
  box-shadow: none;
  background-color: #0c1019;
  border: none;
}

.accordion-body {
  background-color: #0c1019;
  color: #f5f5f5;
  padding: 0;
  font-size: 1.1rem;
  text-transform: initial;
}

.accordion-text {
  display: inline-block;
  font-weight: 400;
  padding-top: 1rem;
}

.accordion-item {
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #f5f5f5;
  background-color: #0c1019;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAXElEQVRIie3NsQmAMBRF0fudQ8F1zByC4D7OknEiAef4VgEtgk3SyDvda94FERGRCnsOjwTgAObGnRNnt0CshTMwNY4Wly2MZQydIp/eYWcDUodOwlg7/IqIyB/dLrwNkGcR42UAAAAASUVORK5CYII=);
  width: 15px;
}

.accordion-button::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAApklEQVRIie3VTQrCMBCG4Xc8hj/gddqFeAhByH28inOcFmkXeolxo5AsXHSsEnS+VZLF90ACE4jUHDuzN+VmytWUnadDXLAyAsvHdpSG9dSOhQfOUICVp8ALv52AA/49uBggprTACdjO7PQYSVr0FXwBNjOjzxQTrpI3No5A9wGnQzjkB95PwoqSZnpPJVcdcMD/DPfZ2jVwfLCRgAEYEJKrI/Kt3AGO0iOMsPNZ/wAAAABJRU5ErkJggg==);
}

.faq-descargas {
  color: #ffb700;
}

.faq-descargas:hover {
  color: #ffb700;
}

.contacto-texto {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 3rem;
}

.contacto-email {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;
}

.contacto-email:hover {
  color: #ffb700;
}

.form-control {
  background-color: #0f1521;
  border-color: #3a3d45;
  border-radius: 0.4rem;
  color: #f5f5f5;
}

.form-control:focus {
  background-color: #0f1521;
  border: none;
  border-color: #ffb700;
}

.text-caja {
  color: #50535b;
  padding-bottom: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-contacto {
  color: #f5f5f5;
  background-color: #ffb700;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-shadow: 0px 8px 24px rgba(255, 184, 0, 0.48);
  padding: 1rem 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

.btn-contacto:hover {
  background-color: #f7c851;
}

.contact-icons {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.login-box {
  height: auto;
  background: #0f1521;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
}

.login-img {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
}

.login-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #f5f5f5;
}

.login-form {
  margin-top: 1.8rem;
  text-align: left;
}

.login-text {
  color: #f5f5f5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#email {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 2rem;
  padding-left: 0px;
  color: #f5f5f5;
}

#pwd {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  padding-left: 0px;
  color: #f5f5f5;
}

.form-grupo {
  outline: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid #ffb700;
  border-radius: 0.4rem;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  color: #f5f5f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 1rem;
  color: #50535b;
  font-weight: bold;
  letter-spacing: 1px;
}

#btn-login {
  background-color: #0f1521;
  border-color: #ffb700;
  color: #ffb700;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px #0f1521, 0 1px 2px #0f1521;
}

#btn-login:hover {
  background-color: #ffb700;
  color: whitesmoke;
  right: 0px;
}

.btn-register {
  list-style: none;
  text-decoration: none;
  color: #f5f5f5;
}

.btn-register:hover {
  color: #ffb700;
}

/*# sourceMappingURL=style.css.map */
