body {
  font-family: "Manrope", sans-serif;
  color: #f5f5f5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  max-width: 1320px;
}

main {
  background-color: #0c1019;
  padding-bottom: 5rem;
}

.main-section {
  height: 100vh;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffb700 #0f1521;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0f1521;
}

*::-webkit-scrollbar-track:hover {
  background-color: #0f1521;
}

*::-webkit-scrollbar-track:active {
  background-color: #0f1521;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #ffb700;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ffb700;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ffb700;
}

.navbar {
  backdrop-filter: blur(20px);
  background: rgba(12, 16, 25, 0.2392156863);
  margin-bottom: 1rem;
}
.navbar .navbar-brand {
  width: 128px;
}

.nav-item {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.active {
  color: #ffb700;
}

.footer {
  background-color: #0f1521;
}

.footerLogo {
  width: 8rem;
}

.footer-icons {
  width: 35px;
  height: 35px;
  margin-left: 1rem;
}

.footer-link {
  list-style: none;
  text-decoration: none;
  color: #f5f5f5;
}
.footer-link:hover {
  color: #ffb700;
}
.footer-link .footer-text {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
  display: inline-block;
}
.footer-link .footer-text .flag {
  width: 1.2rem;
}
.footer-link .footer-terminos {
  text-decoration: underline;
  padding-top: 0;
}
.footer-link .footer-terminos:hover {
  color: #ffb700;
}

.footer-fin {
  border-top: 3px #3a3d45 solid;
}

.flag-texto:hover {
  color: #ffb700;
}

.footer-title {
  text-transform: initial;
  font-weight: 500;
  font-size: 1.6rem;
}

.background-index {
  background-image: url(../img/img-entrada.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 85% 100%;
}

.display-1 {
  text-transform: initial;
  font-size: 4.2rem;
  font-weight: 600;
}
.display-1-neon {
  color: #ffb700;
}

.intro {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.intro--description {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(211, 209, 209, 0.7294117647);
}
.intro--btn {
  color: #f5f5f5;
  background-color: #ffb700;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 8px 24px rgba(255, 184, 0, 0.4784313725);
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.intro--btn:hover {
  background-color: #f7c851;
}

.extras {
  padding-top: 2rem;
}

.extras__cartas {
  background-color: #0f1521;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.extras__cartas--title {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.extras__cartas--description {
  padding-top: 0.5rem;
  font-weight: 300;
  font-size: 1.2;
  color: rgba(211, 209, 209, 0.7294117647);
}
.extras__cartas--icons {
  width: 50px;
  filter: drop-shadow(0px 0px 10px rgba(255, 193, 7, 0.6745098039));
}

.fondo-1 {
  background-image: url(../img/c.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  border-top: 1px solid #ffc107;
}

.fondo-2 {
  background-image: url(../img/b.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  border-top: 1px solid #ffc107;
}

.fondo-3 {
  background-image: url(../img/a.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  border-top: 1px solid #ffc107;
}

.fondo-4 {
  background-image: url(../img/23.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  border-top: 1px solid #ffc107;
  border-bottom: 1px solid #ffc107;
}

.img-prueba2 {
  width: 250px;
}

.text__app {
  background-color: rgba(15, 21, 33, 0.4941176471);
  padding: 0.5rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(20px);
  color: #f5f5f5;
}

.fondo-descargas {
  background-image: url(../img/back-descargas.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  padding-top: 6rem;
}
.app--item {
  background-color: rgba(15, 21, 33, 0.6705882353);
  padding: 5rem;
  border-radius: 0.8rem;
}

.btn-descargas {
  color: #f5f5f5;
  background-color: #ffb700;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}
.btn-descargas:focus {
  outline: 0;
  box-shadow: none;
}
.btn-descargas:hover {
  color: #f5f5f5;
  background-color: #f7c851;
}

.descargas-back {
  background-color: #0f1521;
  padding: 2rem;
  margin: 10rem 0 8rem 0;
}

.descargas-title {
  font-size: 2.5rem;
  font-weight: 500;
}
.descargas-title p {
  font-size: 1rem;
  font-weight: 300;
}
.descargas-title .descargas-icons {
  width: 2rem;
  display: block;
  filter: drop-shadow(0px 0px 10px rgba(255, 193, 7, 0.6745098039));
}

/*MAPS*/
.tDescargas {
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.tDescargas--iphone {
  color: #1dc0ed;
}

.tDescargas--android {
  color: #13b50e;
}

.box {
  background-color: #0c1019;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 0.8rem;
}
.box .box-description {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}
.box .box-description span {
  font-size: 1.5rem;
  font-weight: 500;
}
.box .box-description li {
  padding-bottom: 0.5rem;
}

.display-3 {
  text-transform: initial;
  font-size: 4rem;
  font-weight: 400;
}

.accordion {
  padding: 0;
}
.accordion .accordion-item {
  border: none;
}

.accordion-button {
  background-color: #0c1019;
  color: #979797;
  padding: 0;
  font-size: 1.6rem;
  padding: 1rem 0 0.5rem 0;
  font-weight: 500;
  text-transform: initial;
  margin-top: 1.5rem;
}
.accordion-button:focus {
  outline: 0;
  border-color: inherit;
  box-shadow: none;
  background-color: #0c1019;
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #f5f5f5;
  background-color: #0c1019;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAXElEQVRIie3NsQmAMBRF0fudQ8F1zByC4D7OknEiAef4VgEtgk3SyDvda94FERGRCnsOjwTgAObGnRNnt0CshTMwNY4Wly2MZQydIp/eYWcDUodOwlg7/IqIyB/dLrwNkGcR42UAAAAASUVORK5CYII=);
  width: 15px;
}
.accordion-button::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAApklEQVRIie3VTQrCMBCG4Xc8hj/gddqFeAhByH28inOcFmkXeolxo5AsXHSsEnS+VZLF90ACE4jUHDuzN+VmytWUnadDXLAyAsvHdpSG9dSOhQfOUICVp8ALv52AA/49uBggprTACdjO7PQYSVr0FXwBNjOjzxQTrpI3No5A9wGnQzjkB95PwoqSZnpPJVcdcMD/DPfZ2jVwfLCRgAEYEJKrI/Kt3AGO0iOMsPNZ/wAAAABJRU5ErkJggg==);
}

.accordion-body {
  background-color: #0c1019;
  color: #f5f5f5;
  padding: 0;
  font-size: 1.1rem;
  text-transform: initial;
}
.accordion-body .accordion-text {
  display: inline-block;
  font-weight: 400;
  padding-top: 1rem;
}

.faq-descargas {
  color: #ffb700;
}
.faq-descargas:hover {
  color: #ffb700;
}

.faq_mas {
  text-align: end;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.faq_mas:hover {
  color: #ffb700;
}

.contacto-texto {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 3rem;
}

.contacto-email {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0px;
  font-size: 1.2rem;
  font-weight: 400;
}
.contacto-email:hover {
  color: #ffb700;
}

.intro-contacto {
  font-size: 4rem;
  font-weight: 500;
}
.intro-contacto--text {
  font-size: 1.2rem;
  font-weight: 300;
}

.form-control {
  background-color: #0f1521;
  border-color: #3a3d45;
  border-radius: 0.4rem;
  color: #f5f5f5;
}
.form-control:focus {
  background-color: #0f1521;
  border: none;
  border-color: #ffb700;
}

.text-caja {
  color: #50535b;
  padding-bottom: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-contacto {
  color: #f5f5f5;
  background-color: #ffb700;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-shadow: 0px 8px 24px rgba(255, 184, 0, 0.4784313725);
  padding: 1rem 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}
.btn-contacto:hover {
  background-color: #f7c851;
}

.contact-icons {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.login {
  padding-top: 4rem;
}
.login .login-box {
  height: auto;
  background: #0f1521;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
  font-family: "Roboto", sans-serif;
}
.login .login-box .login-img {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
}
.login .login-box .login-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #f5f5f5;
}
.login .login-box .login-form {
  margin-top: 1.8rem;
  text-align: left;
}
.login .login-box .form-grupo {
  outline: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.login .login-box .form-grupo .login-text {
  color: #f5f5f5;
  padding-bottom: 2rem;
}

#email {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 2rem;
  padding-left: 0px;
  color: #f5f5f5;
}

#pwd {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  padding-left: 0px;
  color: #f5f5f5;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid #ffb700;
  border-radius: 0.4rem;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  color: #f5f5f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 1rem;
  color: #50535b;
  font-weight: bold;
  letter-spacing: 1px;
}

#btn-login {
  background-color: #0f1521;
  border-color: #ffb700;
  color: #ffb700;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px #0f1521, 0 1px 2px #0f1521;
}
#btn-login:hover {
  background-color: #ffb700;
  color: whitesmoke;
  right: 0px;
}

.btn-register {
  list-style: none;
  text-decoration: none;
  color: #f5f5f5;
}
.btn-register:hover {
  color: #ffb700;
}

.form-check-input {
  background-color: #f5f5f5;
}

.form-check-input:checked {
  background-color: #ffb700;
  border-color: #ffb700;
}

.form-check-input:focus {
  box-shadow: none;
}

.recordarme {
  padding-bottom: 1.2rem;
}

@media (min-width: 576px) {
  .flag-media {
    padding-top: 3.4rem;
  }
}
@media (max-width: 768px) {
  .main-section {
    height: auto;
  }

  /*INDEX*/
  .display-1 {
    padding-top: 6rem;
    font-size: 3rem;
  }

  /*DESCARGAS*/
  .app {
    padding-top: 2rem;
  }

  .fondo-descargas {
    height: auto;
  }

  /*FAQ*/
  .display-3 {
    padding-top: 4rem;
  }

  /*CONTACTO*/
  .contactanos {
    padding-top: 4rem;
  }

  /*USUARIO*/
  .login {
    padding-top: 5rem;
  }
}
@media (max-width: 576px) {
  .background-index {
    background-size: contain;
  }

  .display-1 {
    font-size: 2.5rem;
  }

  .intro--btn {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
