.contacto-texto {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 3rem;
}

.contacto-email {
  border-top: 2px solid #3a3d45;
  margin-top: 1rem;
  padding-top: 0.8rem;

  &:hover {
    color: $yellow-color;
  }
}

.form-control {
  background-color: $blue-color;
  border-color: #3a3d45;
  border-radius: 0.4rem;
  color: $white-color;

  &:focus {
    background-color: $blue-color;
    border: none;
    border-color: $yellow-color;
  }
}

.text-caja {
  color: #50535b;
  padding-bottom: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-contacto {
  color: $white-color;
  background-color: $yellow-color;
  border-radius: 8px;
  border: none;
  width: 100%;
  box-shadow: 0px 8px 24px #ffb8007a;
  padding: 1rem 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;

  &:hover {
    background-color: #f7c851;
  }
}

.contact-icons {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
