body {
  font-family: "Manrope", sans-serif;
  color: $white-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  max-width: 1320px;
}

.main {
  background-color: $black-color;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
