.background-index {
  background-image: url(../img/img-entrada.png);
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-position: 85% 100%;
  background-size: 80vh;
}

.display-1 {
  text-transform: initial;
  font-size: 4.2rem;
  font-weight: 600;

  &-neon {
    color: $tertiary-color;
  }
}

.intro--btn {
  color: $font-white;
  background-color: $tertiary-color;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 8px 24px #ffb8007a;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 0.5rem;

  &:hover {
    background-color: #f7c851;
  }
}

.intro {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;

  &--description {
    font-size: 1.2rem;
    font-weight: 400;
    color: $font2-color;
  }
}

.text__app {
  background-color: #0f15217e;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(50px);
  color: $font-white;
  font-size: 1.1rem;
  text-align: center;

  &--more {
    color: $tertiary-color;

    &:hover {
      color: $tertiary-color;
    }
  }
}

.img-cel {
  max-width: 35vh;
  opacity: 0.9;
}

.extras {
  padding-top: 2rem;

  &__cartas {
    background-color: $secondary-color;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--title {
      padding-top: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }
    &--description {
      padding-top: 0.5rem;
      font-weight: 300;
      font-size: 1.2;
      color: $font2-color;
    }
    &--icons {
      width: 50px;
      filter: drop-shadow(0px 0px 10px #ffc107ac);
    }
  }
}

.fondo-1 {
  background-image: url(../img/background-1.jpg);
  height: 100vh;
  width: 100%;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  border-top: 1px solid $yellow-color;
}

.fondo-2 {
  @extend .fondo-1;
  background-image: url(../img/background-2.jpg);
  background-position: 62% 50%;
}

.fondo-3 {
  @extend .fondo-1;
  background-image: url(../img/background-3.jpg);
}

.fondo-4 {
  @extend .fondo-1;
  background-image: url(../img/background-4.jpg);
  border-bottom: 1px solid $yellow-color;
  background-position: 50% 70%;
}

.newsletter {
  background-image: url(../img/noticias.jpg);
  height: 300px;
  width: auto;
  margin-top: 5rem;
  border-radius: 0.6rem;
  text-align: center;

  &--title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &--description {
    color: $font2-color;
  }
}

#newsletterinput {
  background-color: #0f152186;
  width: 500px;
}
