.navbar {
  backdrop-filter: blur(20px);
  background: #0c10193d;
  margin-bottom: 1rem;

  .navbar-brand {
    width: 128px;
  }
}

.nav-item {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.active {
  color: #ffb700;
}
/*HOVER REDES*/
.popover {
  width: auto;
  height: auto;
  text-align: center;
  background-color: $secondary-color;

  &-body {
    color: $font-white;
    padding: 0.3rem;
  }

  &-arrow {
    opacity: 0;
  }
}
