.navbar {
  backdrop-filter: blur(20px);
  background: #0c10193d;
  margin-bottom: 1rem;

  .navbar-brand {
    width: 128px;
  }
}

.nav-item {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.active {
  color: #ffb700;
}
