.login-box {
  height: auto;
  background: #0f1521;
  text-align: center;
  padding: 1rem;
  border-radius: 0.8rem;
}

.login-img {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
}

.login-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #f5f5f5;
}

.login-form {
  margin-top: 1.8rem;
  text-align: left;
}

.login-text {
  color: #f5f5f5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#email {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 2rem;
  padding-left: 0px;
  color: #f5f5f5;
}

#pwd {
  background-color: #0f1521;
  border: none;
  border-bottom: 2px solid #ffb700;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  padding-left: 0px;
  color: #f5f5f5;
}

.form-grupo {
  outline: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid #ffb700;
  border-radius: 0.4rem;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  color: #f5f5f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 1rem;
  color: #50535b;
  font-weight: bold;
  letter-spacing: 1px;
}

#btn-login {
  background-color: #0f1521;
  border-color: #ffb700;
  color: #ffb700;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px #0f1521, 0 1px 2px #0f1521;
}

#btn-login:hover {
  background-color: #ffb700;
  color: whitesmoke;
  right: 0px;
}

.btn-register {
  list-style: none;
  text-decoration: none;
  color: #f5f5f5;
}

.btn-register:hover {
  color: #ffb700;
}
